<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bike keys</title>
    <script src="/static/jquery-2.1.4.min.js"></script>
</head>
<body>
    <input type="text" id="txt_number" placeholder="请输入车牌号" />
    <input type="button" id="btn_key" value="马上用车" />
    <p id="txt_key"></p>
    <script type="text/javascript">
        var keys = [["65270666","8106"],["417052","0864"],["382630","1392"],
                    ["354840","8824"],["336976","1267"],["163166","0610"],
                    ["326216","6721"]]
        var key_map = Object.create(null);
        for (var i=0; i<keys.length; i++) {
            //console.log(i)
            key_map[keys[i][0]]=keys[i][1]
        }
        //console.log(key_map)
        $("#btn_key").on("click", function(){
            var key = $("#txt_number").val()
            if(key in key_map){
                $("#txt_key").text(key_map[key]);
            } else {
                $("#txt_key").text("车牌不存在");
            }
        });
    </script>
</body>
</html>
