<html lang="cn">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>my blog</title>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<link rel="stylesheet" type="text/css" href="/static/test_slider.css">
	<script src="/static/jquery-2.1.4.min.js"></script>
	<script src="/static/main.js"></script>
    <script src="/static/test_slider.js"></script>
</head>
<body>
	<header>
		<img id="logo" src="/static/logo.png">
		<hgroup id="slogan">
			<h1>My Blog
			<h2>for my daily thoughts...
		</hgroup>
	</header>
	<nav>
		<span class="toggle_menu">=</span>
		<ul class="menu">
			<li><a href="#html">文档</a>
			<li><a href="#css">样式</a>
			<li><a href="#javascript">操作</a>
			<li><a href="#frameworks">框架</a>
			<li><a href="#performance">优化</a>
			<li>
				<a href="#courses">课程</a>
				<div class="caret"></div>
				<ul class="submenu">
					<li><a href="#courses_html">HTML</a>
					<li><a href="#courses_javascript">JavaScript</a>
					<li><a href="#courses_css">CSS</a>
				</ul>
			</li>
			<li><a href="#contact">联系</a>
		</ul>
	</nav>
	<div id="content">
		<article id="blog1">
		    <header>
			<h1 class="blog_header"></h1>
			<div class="blog_meta"></div>
			</header>
			<p class="blog_content">
			</p>
			<footer><a href="#">更多</a></footer>
		</article>
		<article id="blog2">
		    <header>
			<h1 class="blog_header"></h1>
			<div class="blog_meta"></div>
			</header>
			<p class="blog_content">
			</p>
			<footer><a href="#">更多</a></footer>
		</article>
		<article id="blog3">
		    <header>
			<h1 class="blog_header"></h1>
			<div class="blog_meta"></div>
			</header>
			<p class="blog_content">
			</p>
			<footer><a href="#">更多</a></footer>
		</article>
		<article id="blog4">
		    <header>
			<h1 class="blog_header"></h1>
			<div class="blog_meta"></div>
			</header>
			<p class="blog_content">
			</p>
			<footer><a href="#">更多</a></footer>
		</article>
		<article id="blog5">
		    <header>
			<h1 class="blog_header"></h1>
			<div class="blog_meta"></div>
			</header>
			<p class="blog_content">
			</p>
			<footer><a href="#">更多</a></footer>
		</article>
		<article id="blog6">
		    <header>
			<h1 class="blog_header"></h1>
			<div class="blog_meta"></div>
			</header>
			<p class="blog_content">
			</p>
			<footer><a href="#">更多</a></footer>
		</article>
		<div id="pager">
			<a href="javascript:void(0);" id="prev_page"><</a>
			<span id="curr_page">1/1</span>
			<a href="javascript:void(0);" id="next_page">></a>
		</div>
	</div>
	<aside>
		<div class="ads" id="news">
			<h3>最新动态</h3>
			<hr>
			<ul>
				<li>2016-06-26 搭建开发环境，创建html</li>
				<li>2016-06-26 制作网站logo，增加样式</li>
			</ul>
		</div>
		<div class="ads" id="links">
			<h3>相关网站</h3>
			<hr>
			<ul>
				<li><a href="http://www.html5rocks.com/zh/">HTML5 rocks</a></li>
				<li><a href="http://stackoverflow.com/">Stackoverflow</a></li>
				<li><a href="http://getbootstrap.com/">Bootstrap</a></li>
				<li><a href="https://www.djangoproject.com/">Django</a></li>
				<li><a href="https://github.com/">Github</a></li>
				<li><a href="http://tutorial.djangogirls.org/en/">Django Girls Tutorial</a></li>
				<li><a href="https://www.codeschool.com/">Code School</a></li>
			</ul>
		</div>
	</aside>
	<!-- image slider
	<div id="slider_container">
	    <ul id="slider_item_group">
	        <li class="slider_item" id="slider1"><img src="/static/1.jpg" width="800px" height="534px">
	        <li class="slider_item" id="slider2"><img src="/static/2.jpg" width="800px" height="534px">
	        <li class="slider_item" id="slider3"><img src="/static/3.jpg" width="800px" height="534px">
	        <li class="slider_item" id="slider4"><img src="/static/4.jpg" width="800px" height="534px">
	    </ul>
	    <ul id="slider_tiles_group">
	        <a href="#"><li class="slider_tile" data-slide-index=1>1</li></a>
	        <a href="#"><li class="slider_tile" data-slide-index=2>2</li></a>
	        <a href="#"><li class="slider_tile" data-slide-index=3>3</li></a>
	        <a href="#"><li class="slider_tile" data-slide-index=4>4</li></a>
	    </ul>
	    <div id="slider_paging">
	        <a id="prev" href="javascript:void(0)"><</a>
	        <a id="next" href="javascript:void(0)">></a>
	    </div>
	</div>
	-->
	<footer>
		copyright © mysite 2016
	</footer>
</body>
</html>
